.page-header{
	margin: 20px;
	text-align: center;
}
.progress{
	margin-bottom:20px;
}
.id-field{
	width: 30% !important;
}
.btn-danger{
	background-color: #618bce !important;
	border-color: #618bce !important;
}
.btn-success{
	background-color: #5ec175 !important;
	border-color: #5ec175 !important;
}
.btn{
	    margin: 3px;
}